:root {
    --animation-selected-cell-duration: .1s;
    --animation-selected-cell-rotation: -10deg;
    /*Зависит от количества клеток на поле*/
    --cell-width: max(2rem, 2.15vw + 1.85rem);
    --animation-selected-cell-width: calc(var(--cell-width) - 0.26rem);

    --cell-font-size: calc(var(--cell-width) / 2);
}

.cell {
    display: flex;
    width: var(--cell-width);
    aspect-ratio: 1 / 1;

    justify-content: center;
    align-items: center;

    border-radius: 0.25rem;
    font-weight: 400;
    font-size: var(--cell-font-size);

    border: 1px solid rgba(0, 0, 0, .2);
    color: #333333;
    transition: all ease .1s;
}

.cell:hover {
    cursor: pointer;

    background-color: #23ABDC;
    animation: select-cell ease-in-out var(--animation-selected-cell-duration);
    transform: rotate(var(--animation-selected-cell-rotation));

    width: var(--animation-selected-cell-width);
    height: var(--animation-selected-cell-width);
    margin: calc((var(--cell-width) - var(--animation-selected-cell-width)) / 2);
}

.selectCell {
    background-color: #23ABDC;
    animation: select-cell var(--animation-selected-cell-duration);
    transform: rotate(var(--animation-selected-cell-rotation));

    width: var(--animation-selected-cell-width);
    height: var(--animation-selected-cell-width);
    margin: calc((var(--cell-width) - var(--animation-selected-cell-width)) / 2);
}

@keyframes select-cell {
    0% {
        width: var(--cell-width);
        height: var(--cell-width);
        margin: 0;
        transform: rotate(0);
    }

    100% {
        width: var(--animation-selected-cell-width);
        height: var(--animation-selected-cell-width);
        margin: calc((var(--cell-width) - var(--animation-selected-cell-width)) / 2);
        transform: rotate(var(--animation-selected-cell-rotation));
    }
}