@font-face {
    font-family: "Murecho";
    src: url("./res/font/Murecho/Murecho-VariableFont_wght.ttf") format('truetype');
}

body {
    margin: 0;
    font-family: Murecho, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
